<html>
    <head>
    <style>
        a{
            font-family: verdana;
            font-size: 20px;
            text-align: center;
            color: black;
            text-decoration: none;
        }
        .headersText{
            text-decoration: none;
            color: black;
            text-decoration: underline;
        }
        #all{
            text-align: center;
            color: black;
        }
    </style>
    </head>
  <body>
    <div id='all'>
        <br><a>Thank You for using My 3D Image Generator</a><br><br>
        <a href="https://howard888.com/" class='headersText'>My Website</a><br>
      <a href="https://imageto3d.xyz/" class='headersText'>Image To 3D Website</a><br><br>
      <div class='imgPredictions'>
          <br><a>Your 3D Image is attached to this Email</a><br>
      </div>
      </div>
    </div>
  </body>
</html>